@model ProveduriaWeb.Proveedores

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Proveedores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label"></label>
                <input asp-for="IdProveedor" class="form-control" />
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreProveedor" class="control-label"></label>
                <input asp-for="NombreProveedor" class="form-control" />
                <span asp-validation-for="NombreProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionProveedor" class="control-label"></label>
                <input asp-for="DireccionProveedor" class="form-control" />
                <span asp-validation-for="DireccionProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoProveedor" class="control-label"></label>
                <input asp-for="TelefonoProveedor" class="form-control" />
                <span asp-validation-for="TelefonoProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoProveedor" class="control-label"></label>
                <input asp-for="CorreoProveedor" class="form-control" />
                <span asp-validation-for="CorreoProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
